@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  /* Gray-50 */
  font-family: 'Inter', sans-serif;
  color: #0f172a;
  /* Slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
button,
input,
textarea,
select {
  font-family: 'Inter', sans-serif;
}